$color-background: #000;
$color-primary: #FFF;
$color-accent: #22C;
$color-active: #00B;
$color-inactive: #444;
$color-action: #0090FF;
$color-alert: #B00;
$color-tile: #151515;

$screen-height: 360px;
$screen-width: 360px;
