@import "settings";

.application-root {
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-text {
  text-align: center;
}

.fill-available-space{
  display: block;
  width: 100%;
  height: 100%;
}

.page_heading {
    position: relative;
    top: 100%;
    transform: translateY(-100%);

    border-bottom: 1px solid $color-primary;
}

.hidden {
  display: none;
}
