@import "settings";
@import "theming";

@mixin ripple-effect($background-color) {
  overflow: hidden;
  position: relative;

  &::after {
    @include theme-color-ripple("background-color");
    display: block;
    content: "";
    position: absolute;
    pointer-events: none;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    /* Center the ripple */
    top: 50%;
    left: 50%;

    //animation: ripple 0.6s;
    opacity: 0;
    transition: transform 1s, opacity 1s;
    transform: scale3d(8,8,1);
  }

  &:active::after {
    opacity: .6;
    transition: transform 0s;
    transform: scale3d(0,0,1);
  }
}

.ripple-effect {
  @include ripple-effect($color-background);
}
