@import "settings";

.ripple-effect {
  background-position: center;
  transition: background 0.4s;

  &:hover {
    background: $color-tile radial-gradient(circle, transparent 1%, $color-tile 1%) center/12000%;
  }

  &:active {
    background-color: #666;
    background-size: 100%;
    transition: background 0s;
  }
}
